body {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background: #2e7bcf;*/
    transition:all 1s ease;
    /* background-color: #0f8af2!important; */
}

main {
    flex: 1 0 auto;
}

.blue-2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    color: #9ddcff;
}

footer.page-footer {
    background: rgba(0, 0, 0, 0);
    padding-bottom: 30px;
}

#quote-box {
    opacity: 0;
    font-family: 'Quicksand', sans-serif;
}

#quote-box a {
    color: black;
    font-style: italic;
}

.card.verysmall {
    height: 246px;
}

.top-right {
    position: absolute;
    top: 3px;
    right: 0px;
}

.top-left {
  position: absolute;
  top: 3px;
  /* right: 0px; */
}

.fixed-action-btn.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card.z-depth-custom {
    box-shadow: 0 2px 2px 0 blue, 0 3px 1px -2px blue, 0 1px 5px 0 blue;
}

.card.z-depth-3.blueish {
    -webkit-box-shadow: 0 8px 17px 2px rgb(15 138 242 / 40%), 0 3px 14px 2px rgb(15 138 242 / 30%), 0 5px 5px -3px rgb(15 138 242 / 20%);
    box-shadow: 0 8px 17px 2px rgb(15 138 242 / 40%), 0 3px 14px 2px rgb(15 138 242 / 30%), 0 5px 5px -3px rgb(15 138 242 / 20%);
    /*box-shadow: 2px 4px 6px rgb(15 138 242 / 40%), -2px -4px 6px rgb(15 138 242 / 40%);*/
}

.card.z-depth-5.blueish {
    -webkit-box-shadow: 0 24px 38px 3px rgb(15 138 242 / 31%), 0 9px 46px 8px rgb(15 138 242 / 30%), 0 11px 15px -7px rgb(15 138 242 / 30%);
    box-shadow: 0 24px 38px 3px rgb(15 138 242 / 31%), 0 9px 46px 8px rgb(15 138 242 / 30%), 0 11px 15px -7px rgb(15 138 242 / 30%);
}

.row .col.shops {
    padding: 1%;
}

.welcome-text {
    margin-top: 2.8rem; 
    margin-bottom: -2.8rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card img {
    width: 100%;
    height: 100%;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    object-fit: cover;
}


.my-shopy.visited > div {
  background-size: 100%;
  background-image: url(http://imgur.com/jMQ5vHg);
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.75));
  -moz-filter: drop-shadow(1px 1px 2px rgba(179, 174, 174, 0.75));
  -ms-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.75));
  -o-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.75));
}

.my-shopy .mask {
  mask-image: url(/img/mail4.svg);
  -webkit-mask-image: url(/img/mail4.svg);
  mask-size: contain;
  -webkit-mask-size: 180%;
  mask-position: center;
  -webkit-mask-position: center;
}

.my-shopy img {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
  object-fit: cover;
  
}

.my-shopy > div {
  display: block;
  position: relative;
}

.my-shopy.pending img {
  transition: opacity 0.5s ease-in;
  -webkit-transition: opacity 0.5s ease-in;
  opacity: 0.2;
}

.my-shopy span.title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5em; 
  text-shadow: 1px 1px 3px #cbd6df;
}

.my-shopy.visited span.title {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  width: 100%;
}

.card.pending img {
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    opacity: 0.1;
}

.card.visited .card-title {
    color: white!important;
    /*text-shadow: 1px 1px 5px #2196f3;*/
}

.card .card-image .card-title.responsive {
  padding: 1px;
  padding-top: 8px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.card.visited .card-image .card-title.responsive {
  background-image: linear-gradient(rgba(255,0,0,0), rgb(9 109 193 / 79%));
  /* background-image: linear-gradient(rgba(255,0,0,0), rgb(15 138 242 / 79%)); */
  width: 100%;
}


/* Set the size of the div element that contains the map */
#map {
  height: 800px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/*a > i {
  vertical-align:middle;
}
*/
.inline-icon {
   vertical-align: bottom;
   font-size: 18px !important;
}

body > main > div.progress {
 margin-top: 0px;   
}

body.dark div.card {
    background-color: #0f8af2;
}

body.dark div.blue-text {
    color: white!important;
}

body.dark div.card {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #0f8af2;
}

body.dark > main > nav {
    background-color: #0f8af2;
    -webkit-transition: background-color 1000ms ease-out;
    -ms-transition: background-color 1000ms ease-out;
    transition: background-color 1000ms ease-out;
}

body.light > main > nav {
    background-color: white;
    -webkit-transition: background-color 1000ms ease-out;
    -ms-transition: background-color 1000ms ease-out;
    transition: background-color 1000ms ease-out;
}

body.dark {
    background-color: #0f8af2;
    -webkit-transition: background-color 1000ms ease-out;
    -ms-transition: background-color 1000ms ease-out;
    transition: background-color 1000ms ease-out;
}

body.light {
    background-color: white;
    -webkit-transition: background-color 1000ms ease-out;
    -ms-transition: background-color 1000ms ease-out;
    transition: background-color 1000ms ease-out;
}

/* Stamp :) */

div.pending span.stamp.top-left { 
    opacity: 0;
}

div.visited span.stamp.top-left {
    opacity: 1;
    transition: opacity 1s 1s ease-in;
    /* transform: rotate(14deg); */
    color: rgb(24, 1, 126);
    font-size: 14px;
    font-weight: 700;
    /* border: 0.2rem solid #555; */
    display: inline-block;
    padding: 0.001rem 0.1rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-family: 'Courier';
    -webkit-mask-image: url(/img/grunge.png);
    -webkit-mask-size: 944px 604px;
    mix-blend-mode: multiply;
    /* border: 0.5rem double #D23; */
        -webkit-mask-position: 2rem 3rem;
    /* top: 30px; */
    left: 0px;
}

@media only screen and (max-width: 701px){
  .card.z-depth-5.blueish {
    -webkit-box-shadow: 0 16px 24px 2px rgb(15 138 242 / 30%), 0 6px 30px 5px rgb(15 138 242 / 30%), 0 8px 10px -7px rgb(15 138 242 / 30%);
    box-shadow: 0 16px 24px 2px rgb(15 138 242 / 30%), 0 6px 30px 5px rgb(15 138 242 / 30%), 0 8px 10px -7px rgb(15 138 242 / 30%);
  }

  .row .col.shops {
    padding: 1%;
  }

  html {
    font-size: 10px;
  }

  .dropdown-trigger .material-icons {
    font-size: 10px;
  }

  .card .card-image .card-title.responsive {
    padding: 1px;
  }

  .card .card-title.responsive {
    font-size: 10px;
    font-weight: 300;
  }

  div.visited span.stamp.top-left {
    font-size: 7px;
    /* transform: rotate(30deg); */
    /* top: 18px; */
    /* right: 2px; */
    opacity: 0.6;
  }
}