<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="last-modified" content="Sun, 14 Mar 2021 14:00:46 GMT " />
    <meta http-equiv="cache-control" content="Private" />
    <meta http-equiv="Expires" content="600" />

    <title>The Hunt</title>
    <meta name="description" content="Searching for Ice Scream in San Jose, CA">
    <link rel="icon" href="img/c3.png" sizes="32x32" type="image/png">


    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script async defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <script src="https://apis.google.com/js/platform.js" async defer></script>    
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbhfADt_Wf_EuLtfosor20CN0sie-9Puk&callback=initMap&libraries=&v=weekly" async></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
  <header></header>
  <main>
      <div class="container">
          <div class="row">
            <div class="blue-text welcome-text right">
              <a ng-click="signin()" ng-if="!signedin" href="">Sign In</a>
              <span ng-if="signedin">Hi, {{name}}!</span>
            </div>
            <div class="col s12 m10">
              <h1 class="blue-text">The Hunt</h1>
              <h5 class="blue-text">Licking every Ice Cream shop in San Jose!</h5>              
            </div>            
          </div>
          
          <div class="progress light-blue lighten-4">
              <div class="determinate blue" style="width: {{progress}}%"></div>
          </div>
          <div class="row">
            <div class="col s6 m6 l4 xl3 shops" ng-repeat="shop in shops" >   
              <div class="col-content blue blue-text">
                <div class="card blueish {{visited.has(shop.id) ? 'z-depth-5 visited' : 'pending'}}">
                <div class="card-image">
                  <div class="img-wrapper" ng-click="toggle(shop.id)">
                    <img src="{{shop.img || 'img/blue.jpg'}}">
                    <span class="card-title responsive blue-text">{{shop.name}}</span>                    
                  </div>
                  <a class="dropdown-trigger top-right {{visited.has(shop.id) ? 'white-text' : 'blue-text'}}" href='#' data-target='dropdown1'><i class="material-icons">more_vert</i></a>                  
                  <ul id='dropdown1' class='dropdown-content'>
                    <li><span><a href="https://www.google.com/maps/search/{{shop.name}}" target="_blank" rel="noopener noreferrer"><i class="material-icons right">directions</i>Directions</a></span></li>
                    <li><span><a href="{{shop.website}}" target="_blank" rel="noopener noreferrer"><i class="material-icons right">open_in_new</i>Website</a></span></li>                      
                  </ul>
                </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div id="map"></div>     
  </main>
  <script type="text/javascript">
    const shops = [
          {
            "id": 1,
            "name": "Campbell Creamery",
            "map": "73P3+VW Campbell, California",
            "website": "https://www.campbellcreameryca.com/",
            "loc": [37.3228762,-121.88733],
          },
          {
            "id": 3,
            "name": "Yogurtland",
            "map": "84M8+67 San Jose, California",
            "website": "http://places.singleplatform.com/yogurtland-44/menu?ref=google",
            "loc": [37.3532428,-121.9073822],
          },
          {
            "id": 4,
            "name": "San Jose Candy Kitchen",
            "map": "84M6+4V San Jose, California",
            "website": "https://www.ordersjcandykitchen.com/",
            "loc": [37.3328125,-121.8900012],
          },
          {
            "id": 5,
            "name": "Sweet Retreat",
            "map": "742R+2X San Jose, California",
            "website": "http://www.sweet-retreats.com/",
            "loc": [37.250552,-121.8621579],
          },
          {
            "id": 6,
            "name": "My Milkshake",
            "map": "84M6+JV San Jose, California",
            "website": "http://www.mymilkshakesj.com/",
            "loc": [37.3341772,-121.8855712],
            "img": "https://i.ibb.co/nRhkbpc/PXL-20201017-215229402.jpg"
          },
          {
            "id": 7,
            "name": "La Original Paleteria y Neveria",
            "map": "8498+8G San Jose, California",
            "website": "http://www.laoriginalpaleteria.net/",
            "loc": [37.3442051,-121.9155194],
          },
          {
            "id": 8,
            "name": "Milk + Ice",
            "map": "74R9+6Q San Jose, California",
            "website": "https://www.ubereats.com/san-francisco/food-delivery/milk%2Bice/cpkVeXh9Rw-FZXoUm1xiwQ?utm_source=google&utm_medium=organic&utm_campaign=place-action-link",
            "loc": [37.2908576,-121.8802459],
          },
          {
            "id": 9,
            "name": "Golden State Ice Cream",
            "map": "83CQ+XQ San Jose, California",
            "website": "http://www.goldenstateicecream.com/",
            "loc": [37.3442051,-121.9155194],
          },
          {
            "id": 10,
            "name": "Sweet Rendezvous",
            "map": "65X3+PM San Jose, California",
            "website": "http://sweetrendezvous.net/",
            "loc": [37.2490675,-121.8459048],
            "img": "https://i.ibb.co/bXnPWzr/PXL-20210308-011139316.jpg"
          },
          {
            "id": 11,
            "name": "Frozen Ninja",
            "map": "94WG+V9 San Jose, California",
            "website": "https://www.doordash.com/store/frozen-ninja-san-jose-786733/en-US/?utm_campaign=gpa",
            "loc": [37.3971798,-121.8743285],
            "img": "https://i.ibb.co/PjTC3h8/IMG-0239.jpg"
          },
          {
            "id": 12,
            "name": "Willow Glen Creamery",
            "map": "835X+8P San Jose, California",
            "website": "https://www.willowglencreameryca.com/",
            "loc": [37.325626,-121.9152149],
          },
          {
            "id": 13,
            "name": "Sweet Fix Creamery",
            "map": "95C5+G4 San Jose, California",
            "website": "https://www.sweetfixcreamery.com/",
            "loc": [37.3886279,-121.9067932],
          },
          {
            "id": 14,
            "name": "Marco Polo Italian Ice Cream",
            "map": "84JV+M8 San Jose, California",
            "website": "https://www.vietnamtownonline.com/directory-store/marco-polo-italian-ice-cream",
            "loc": [37.3532428,-121.9073822],
          },
          {
            "id": 15,
            "name": "Treat Ice Cream Co",
            "map": "84VH+Q2 San Jose, California",
            "website": "http://places.singleplatform.com/treat-ice-cream-co/menu?ref=google",
            "loc": [37.3532428,-121.9073822],
          },
          {
            "id": 16,
            "name": "Celsius Ice Cream",
            "map": "C49G+3C Milpitas, California",
            "website": "http://www.celsiusicecream.com/",
            "loc": [37.3235906,-121.9643474]
          },
          {
            "id": 17,
            "name": "Smitten Ice Cream",
            "map": "83C2+78 San Jose, California",
            "website": "https://www.smittenicecream.com/locations/santana-row/",
            "loc": [37.325626,-121.9152149],
          },
          {
            "id": 18,
            "name": "Rocko's Ice Cream Tacos",
            "map": "83W6+6X Santa Clara, California",
            "website": "http://www.rockosicecreamtacos.com/",
            "loc": [37.3749759,-121.9915844],
            "img": "https://i.ibb.co/kKgTJRX/PXL-20210315-003744630-PORTRAIT-1.jpg"
          },
          {
            "id": 19,
            "name": "Real Ice Cream",
            "map": "924C+C8 Santa Clara, California",
            "website": "http://realicecream.net/",
            "loc": [37.3446995,-121.9614064],
          },
          {
            "id": 2,
            "name": "Nox Cookie Bar",
            "map": "84M6+HW San Jose, California",
            "website": "http://www.noxcookiebar.com/",
            "loc": [37.335099,-121.8906737],
            "img": "https://i.ibb.co/7KbsB46/IMG-1323.jpg"
          },
          // {
          //   "id": 20,
          //   "name": "CLOSED Honey Creme",
          //   "map": "C39M+MM Milpitas, California",
          //   "website": "http://places.singleplatform.com/honey-creme/menu?ref=google",
          //   "loc": [],
          // },
          {
            "id": 21,
            "name": "Cauldron Ice Cream",
            "map": "94J3+RJ San Jose, California",
            "website": "http://cauldronicecream.com/",
            "loc": [37.3820667,-121.8981262],
          },

      ];

    // Initialize and add the map
    let svgMarkerBlue;
    let svgMarkerRed;
    let mapResolve;
    const mapPromise = new Promise((resolve, reject) => {
      mapResolve = resolve;
    });

    function initMap() {
      // The location of Uluru
      const SJ = { lat: 37.341863, lng: -121.8972637 };
      // The map, centered at Uluru
      const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 12,
        center: SJ,
      });
      svgMarkerBlue = {
        path:
          "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
        fillColor: "#2196f3",
        fillOpacity: 1,
        strokeWeight: 0,
        rotation: 0,
        scale: 2,
        anchor: new google.maps.Point(15, 30),
      };
      svgMarkerRed = {
        path:
          "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
        fillColor: "#f32150",
        fillOpacity: 1,
        strokeWeight: 0,
        rotation: 0,
        scale: 2,
        anchor: new google.maps.Point(15, 30),
      };
      mapResolve(map);
    }

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems, {alignment: 'right', constrainWidth: false});
    });    


    // Initialize the Firebase SDK
    var firebaseConfig = {
      apiKey: "AIzaSyC3tfoCPAuhcObi8hyi_4-YTl4tkzqFaAw",
      authDomain: "the-hunt-a36a9.firebaseapp.com",      
      databaseURL: "the-hunt-a36a9-default-rtdb.firebaseio.com"
    };

    firebase.initializeApp(firebaseConfig);

    var app = angular.module("myApp", ["firebase"]);
    app.controller("myCtrl", function($scope, $firebaseObject, $firebaseArray, $firebaseAuth) {
      let db = null;
      
      $scope.shops = shops;
      $scope.visited = new Set();
      updateProgress();      

      $scope.toggle = function(id) {
        if ($scope.visited.has(id)) {
          $scope.unvisit(id);
        } else {
          $scope.visit(id);
        }
      }

      $scope.visit = function(id) {
        $scope.visited.add(id);
        updateProgress();
        window.localStorage.setItem('visited', JSON.stringify(Array.from($scope.visited)));
        if (db) {
          db[id] = true;
          db.$save().then(function(ref) {
            console.log("added record with id " + ref);
          }, function(error) {
            console.log("Error:", error);
          });
        }
      }

      $scope.unvisit = function(id) {
        $scope.visited.delete(id);
        updateProgress();
        window.localStorage.setItem('visited', JSON.stringify(Array.from($scope.visited)));
        if (db) {
          delete db[id];
          db.$save().then(function(ref) {
            console.log("added record with id " + ref);
          }, function(error) {
            console.log("Error:", error);
          });
        }
      }

      function updateProgress() {
        $scope.progress = Math.floor(100*$scope.visited.size/$scope.shops.length);
      }

      $scope.signin = function() {
        var provider = new firebase.auth.GoogleAuthProvider();
        auth.$signInWithPopup(provider);
      }

      function onSignedIn(id) {
        console.log("onSignedIn - fetch")
        const ref = firebase.database().ref().child(id);
        db = $firebaseObject(ref);
        console.log("onSignedIn - fetching")

        if ($scope.visited.length > 0) {
          for (let key in $scope.visited) {
            db[key] = true;
          }
          db.$save().then(function(ref) {
            console.log("added record with id " + ref);
          }, function(error) {
            console.log("Error:", error);
          });
          console.log("Synced current state")
        }
      }

      function sync() {
        if (!db) {
          console.err("sync - no db")
          updateMarkers();
          return;
        }
        db.$loaded()
        .then(function(data) {  
          console.log("sync - loaded", data);        
          
          angular.forEach(data, function(value, key) {
              console.log("sync - value", value, 'key', key);        
              $scope.visited.add(parseInt(key));
              updateProgress();
              console.log("sync - visited", $scope.visited);        
          });
          console.log("sync - visited - the end", $scope.visited);        
          window.localStorage.setItem('visited', JSON.stringify(Array.from($scope.visited)));
          updateMarkers();
        })
        .catch(function(error) {
          console.error("Error:", error);
        });
      }

      function updateMarkers() {
        mapPromise.then(map => {
          let infowindow = new google.maps.InfoWindow();
          shops.forEach(store => {
            if (store.loc.length == 2) {
              addMarker(map, {lat:store.loc[0],lng:store.loc[1]}, $scope.visited.has(store.id), store.name, infowindow);
            }
          });
        });
      }

      function addMarker(map, location, visited, name, infowindow) {
        console.log(name)
        let marker;
        marker = new google.maps.Marker({
          map,
          position: location,
          icon: visited ? svgMarkerBlue : svgMarkerRed,
          // label: name
        });
        google.maps.event.addListener(marker, "click", () => {
          infowindow.setContent(`
            <a href="https://www.google.com/maps/search/${name}" target="_blank" rel="noopener noreferrer">
              <i class="material-icons inline-icon">directions</i>
              ${name}
            </a>
            `);
          infowindow.open(map, marker);
        });
      }

      const auth = $firebaseAuth();
      $scope.signedin = false;
      auth.$onAuthStateChanged(function(firebaseUser) {
        if (firebaseUser) {
          $scope.signedin = true;
          $scope.name = firebaseUser.displayName.split(' ')[0];
          console.log("Signed in as:", firebaseUser.uid, firebaseUser);          
          onSignedIn(firebaseUser.uid);
          sync();
        } else {
          $scope.signedin = false;
          $scope.name = "";
          console.log("Signed out");
          const visitedArray = JSON.parse(window.localStorage.getItem('visited'));
          $scope.visited = new Set(visitedArray);
          updateMarkers();
        }        
      });
    });
  </script>   
</body>
</html>